<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="LogPath" value="C:\\temp\\AxieTrackerDownloader_{0:yyyyMMdd}.log"/>
    <add key="AxieAPITracker" value="https://axie-scho-tracker-server.herokuapp.com/api/account"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="AxieScholarDBEntities" connectionString="metadata=res://*/Persistence.DB.AxieScholarDBEntities.csdl|res://*/Persistence.DB.AxieScholarDBEntities.ssdl|res://*/Persistence.DB.AxieScholarDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.8.103;initial catalog=AxieScholarDB;persist security info=True;user id=axieuser;password=abc1234532!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>